*{
    margin: 2rem;
    text-align: justify;
    font-family: "Gill Sans", sans-serif;
}

html{
    background-color: rgb(243, 255, 255);
}

.logo{
    display:block;
    margin-left: auto;
    margin-bottom: -120px;
    margin-top: -60px;
    width: 400px;
}

hr{
    margin: 0;
    border: 2px solid rgb(0, 69, 69);
}

h1{
    font-size: 270%;
    margin-top: -80px;
    color: rgb(0, 69, 69);
}

.captura{
    display:block;
    margin:auto;
    border: 3px solid;
    width: 1000px;
}

.elemento{
    font-weight:bold;
    color: rgb(0, 69, 69);
    background-color: rgb(133, 217, 227)
}

p, li{
    font-size: larger;
}

.contenido{
    background-color: white;
    padding: 3px;
}